<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css">
    <title>Home page</title>
  </head>
  <body>
    <div class="css">
     <center>
      <h2>Home Page!</h2>
      <h2>Ini adalah Tes Beranda anda!</h2>
      <br />
      <a href="/logout">Logout</a>
     </center>
    </div>
  </body>
</html>
